*~
*.err
*.bak
*.psc
*.out
*.a
*.swp
*.o
*.d
*meric_dir*
*.o[0-9]*
*.e[0-9]*
scorep-*
rts.xml
readex_env*
benchmark_apps/NPB3.3-MZ-MPI/sys/setparams
benchmark_apps/NPB3.3-MZ-MPI/BT-MZ/npbparams.h
machfile
